jummp-plugins/jummp-plugin-pharmml/schemas/maths.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.pharmml.org/2013/03/Maths" version="0.1"
    xmlns:math="http://www.pharmml.org/2013/03/Maths" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:simpleType name="SymbolNameType">
        <xs:restriction base="xs:Name"/>
    </xs:simpleType>
    <xs:simpleType name="BlockNameType">
        <xs:restriction base="xs:Name"/>
    </xs:simpleType>
    <xs:complexType mixed="false" name="VarType">
        <xs:attribute name="block" type="math:BlockNameType">
            <xs:annotation>
                <xs:documentation>The reference to the block identifier of the given variable. May be undefined in which case the reference is to a variable in the current scope or a global variable.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="symbId" type="math:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The symbol identifier of the symbol.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ScalarType">
        <xs:attribute name="value" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The value of th scalar.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="StringType">
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="BinopType">
        <xs:sequence>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:element ref="math:Scalar"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="math:Var"/>
                <xs:element ref="math:Constant"/>
                <xs:element ref="math:Binop"/>
                <xs:element ref="math:Uniop"/>
                <xs:element ref="math:FunctionCall"/>
            </xs:choice>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:element ref="math:Scalar"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="math:Var"/>
                <xs:element ref="math:Constant"/>
                <xs:element ref="math:Binop"/>
                <xs:element ref="math:Uniop"/>
                <xs:element ref="math:FunctionCall"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="op" use="required">
            <xs:annotation>
                <xs:documentation>The binary operator type.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:Name">
                    <xs:enumeration value="plus"/>
                    <xs:enumeration value="minus"/>
                    <xs:enumeration value="times"/>
                    <xs:enumeration value="divide"/>
                    <xs:enumeration value="power"/>
                    <xs:enumeration value="log"/>
                    <xs:enumeration value="root"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="UniopType">
        <xs:complexContent>
            <xs:extension base="math:ExprType">
                <xs:attribute name="op" use="required">
                    <xs:annotation>
                        <xs:documentation>The unary operator type.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:Name">
                            <xs:enumeration value="exp"/>
                            <xs:enumeration value="ln"/>
                            <xs:enumeration value="minus"/>
                            <xs:enumeration value="factorial"/>
                            <xs:enumeration value="sin"/>
                            <xs:enumeration value="cos"/>
                            <xs:enumeration value="tan"/>
                            <xs:enumeration value="sec"/>
                            <xs:enumeration value="csc"/>
                            <xs:enumeration value="cot"/>
                            <xs:enumeration value="sinh"/>
                            <xs:enumeration value="csch"/>
                            <xs:enumeration value="coth"/>
                            <xs:enumeration value="arcsin"/>
                            <xs:enumeration value="arccos"/>
                            <xs:enumeration value="arctan"/>
                            <xs:enumeration value="arcsec"/>
                            <xs:enumeration value="arccsc"/>
                            <xs:enumeration value="arccot"/>
                            <xs:enumeration value="arcsinh"/>
                            <xs:enumeration value="arccosh"/>
                            <xs:enumeration value="arctanh"/>
                            <xs:enumeration value="arcsech"/>
                            <xs:enumeration value="arccsch"/>
                            <xs:enumeration value="arccoth"/>
                            <xs:enumeration value="floor"/>
                            <xs:enumeration value="abs"/>
                            <xs:enumeration value="ceiling"/>
                            <xs:enumeration value="logit"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConstantType">
        <xs:attribute name="op" use="required">
            <xs:annotation>
                <xs:documentation>The type of constant.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:Name">
                    <xs:enumeration value="notanumber"/>
                    <xs:enumeration value="pi"/>
                    <xs:enumeration value="exponentiale"/>
                    <xs:enumeration value="infinity"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PiecewiseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Piece" type="math:PieceType">
                <xs:annotation>
                    <xs:documentation>Defines a piece in the piecewise function.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PieceType">
        <xs:complexContent>
            <xs:extension base="math:ExprType">
                <xs:sequence>
                    <xs:element ref="math:Condition"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExprType">
        <xs:choice maxOccurs="1" minOccurs="1">
            <xs:element ref="math:Scalar"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="math:Var"/>
            <xs:element ref="math:Constant"/>
            <xs:element ref="math:Binop"/>
            <xs:element ref="math:Uniop"/>
            <xs:element ref="math:FunctionCall"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LogicConditionType">
        <xs:choice maxOccurs="1">
            <xs:element ref="math:LogicBinop"/>
            <xs:element ref="math:LogicUniop"/>
            <xs:element ref="math:True"/>
            <xs:element ref="math:False"/>
            <xs:element ref="math:Otherwise"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LogicBinOpType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="math:LogicBinop"/>
                <xs:element ref="math:LogicUniop"/>
                <xs:element ref="math:True"/>
                <xs:element ref="math:False"/>
                <xs:element ref="math:Scalar"/>
                <xs:element ref="math:Constant"/>
                <xs:element ref="math:Var"/>
                <xs:element ref="math:Binop"/>
                <xs:element ref="math:Uniop"/>
                <xs:element ref="math:String"/>
                <xs:element ref="math:FunctionCall"/>
            </xs:choice>
            <xs:choice>
                <xs:element ref="math:LogicBinop"/>
                <xs:element ref="math:LogicUniop"/>
                <xs:element ref="math:True"/>
                <xs:element ref="math:False"/>
                <xs:element ref="math:Scalar"/>
                <xs:element ref="math:Constant"/>
                <xs:element ref="math:Var"/>
                <xs:element ref="math:Binop"/>
                <xs:element ref="math:Uniop"/>
                <xs:element ref="math:String"/>
                <xs:element ref="math:FunctionCall"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="op" use="required">
            <xs:annotation>
                <xs:documentation>The logical binary operator type.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:Name">
                    <xs:enumeration value="lt"/>
                    <xs:enumeration value="leq"/>
                    <xs:enumeration value="gt"/>
                    <xs:enumeration value="geq"/>
                    <xs:enumeration value="eq"/>
                    <xs:enumeration value="neq"/>
                    <xs:enumeration value="and"/>
                    <xs:enumeration value="or"/>
                    <xs:enumeration value="xor"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="LogicExprType">
        <xs:choice maxOccurs="1">
            <xs:element ref="math:LogicBinop"/>
            <xs:element ref="math:LogicUniop"/>
            <xs:element ref="math:True"/>
            <xs:element ref="math:False"/>
            <xs:element ref="math:Scalar"/>
            <xs:element ref="math:Constant"/>
            <xs:element ref="math:Var"/>
            <xs:element ref="math:Binop"/>
            <xs:element ref="math:Uniop"/>
            <xs:element ref="math:String"/>
            <xs:element ref="math:FunctionCall"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LogicUniOpType">
        <xs:complexContent>
            <xs:extension base="math:LogicExprType">
                <xs:attribute name="op" use="required">
                    <xs:annotation>
                        <xs:documentation>The unary operator type.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:Name">
                            <xs:enumeration value="isDefined"/>
                            <xs:enumeration value="not"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EquationType">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="math:Scalar"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="math:Var"/>
            <xs:element ref="math:Binop"/>
            <xs:element ref="math:Uniop"/>
            <xs:element name="Piecewise" type="math:PiecewiseType">
                <xs:annotation>
                    <xs:documentation>Defines a piecewise expression.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="math:FunctionCall"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FunctionCallType">
        <xs:sequence>
            <xs:element ref="math:Var"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FunctionArgument"
                type="math:FunctionArgumentType">
                <xs:annotation>
                    <xs:documentation>An argument of the function.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionArgumentType">
        <xs:choice>
            <xs:element maxOccurs="1" ref="math:Equation"/>
            <xs:element ref="math:Scalar"/>
            <xs:element ref="math:Constant"/>
            <xs:element ref="math:Var"/>
        </xs:choice>
        <xs:attribute name="symbId" type="math:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The symbold ID of the argument.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="True">
        <xs:annotation>
            <xs:documentation>Boolean True.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="False">
        <xs:annotation>
            <xs:documentation>Boolean False.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Otherwise">
        <xs:annotation>
            <xs:documentation>The otherwise case in a piecewise function.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Scalar" type="math:ScalarType">
        <xs:annotation>
            <xs:documentation>A scalar value.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Var" type="math:VarType">
        <xs:annotation>
            <xs:documentation>A variable reference.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="String" type="math:StringType">
        <xs:annotation>
            <xs:documentation>A string value.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Constant" type="math:ConstantType">
        <xs:annotation>
            <xs:documentation>A constant symbol.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="FunctionCall" type="math:FunctionCallType">
        <xs:annotation>
            <xs:documentation>A function call.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Binop" type="math:BinopType">
        <xs:annotation>
            <xs:documentation>A binary operator.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Uniop" type="math:UniopType">
        <xs:annotation>
            <xs:documentation>A unary operator.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LogicBinop" type="math:LogicBinOpType">
        <xs:annotation>
            <xs:documentation>A logical binary operator used in logical expressions.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LogicUniop" type="math:LogicUniOpType">
        <xs:annotation>
            <xs:documentation>A logical unary operator used in logical expressions.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Condition">
        <xs:annotation>
            <xs:documentation>A condition defined by a logical expression. Can be evaluated to True or False.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="math:LogicConditionType">
                    <xs:attribute name="writtenVersion" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The version of this schema used when writing the document.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Equation">
        <xs:annotation>
            <xs:documentation>A mathematical expression that is evaluated to a scalar type.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="math:EquationType">
                    <xs:attribute name="writtenVersion" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The version of this schema used when writing the document.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
