schemas/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes"
    targetNamespace="http://www.pharmml.org/2013/03/CommonTypes"
    xmlns:distrib="http://www.pharmml.org/2013/03/Uncertainty"
    xmlns:maths="http://www.pharmml.org/2013/03/Maths" version="0.1" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:import namespace="http://www.pharmml.org/2013/03/Maths"
        schemaLocation="http://www.pharmml.org/2013/03/Maths"/>
    <xs:import namespace="http://www.pharmml.org/2013/03/Uncertainty"
        schemaLocation="http://www.pharmml.org/2013/03/Uncertainty"/>
    <xs:simpleType name="SymbolNameType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="BlockNameType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    <xs:complexType name="ScalarRhs">
        <xs:choice>
            <xs:element ref="maths:Equation">
                <xs:annotation>
                    <xs:documentation>A mathemeatical expression.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Scalar">
                <xs:annotation>
                    <xs:documentation>A scalar value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Var">
                <xs:annotation>
                    <xs:documentation>A variable reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:String">
                <xs:annotation>
                    <xs:documentation>A string.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:FunctionCall">
                <xs:annotation>
                    <xs:documentation>A function call.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Rhs">
        <xs:choice minOccurs="0">
            <xs:element ref="maths:Equation">
                <xs:annotation>
                    <xs:documentation>A mathemeatical expression.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Scalar">
                <xs:annotation>
                    <xs:documentation>A scalar value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Constant">
                <xs:annotation>
                    <xs:documentation>A constant symbol.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:String">
                <xs:annotation>
                    <xs:documentation>A string.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sequence" type="ct:SequenceType">
                <xs:annotation>
                    <xs:documentation>A sequence (or uniform series) of numbers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vector" type="ct:VectorType">
                <xs:annotation>
                    <xs:documentation>A list of numbers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:FunctionCall">
                <xs:annotation>
                    <xs:documentation>Call a function.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DataSet" type="ct:DataSetType">
                <xs:annotation>
                    <xs:documentation>A dataset specification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Var">
                <xs:annotation>
                    <xs:documentation>A variable reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" ref="distrib:Distribution">
                <xs:annotation>
                    <xs:documentation>A probability distribution definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SequenceType">
        <xs:attribute name="begin" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The first value of the sequence.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="end" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>The last value of the sequence.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="stepSize" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The step size between values in the sequence.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="repetitions" type="xs:int">
            <xs:annotation>
                <xs:documentation>The number of repetitions of the sequence.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="VectorType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="Sequence" type="ct:SequenceType">
                <xs:annotation>
                    <xs:documentation>A sequence (or uniform series) of numbers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="maths:Scalar">
                <xs:annotation>
                    <xs:documentation>A scalar value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DataSetType">
        <xs:sequence>
            <xs:element name="Definition" type="ct:ColumnsDefinitionType">
                <xs:annotation>
                    <xs:documentation>Column definitions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="ExternalSource"
                    type="ct:ExternalSourceType">
                    <xs:annotation>
                        <xs:documentation>The external source of dataset values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="InternalSource"
                    type="maths:VarType">
                    <xs:annotation>
                        <xs:documentation>The internal source of a dataset.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Row" type="ct:DatasetRowType">
                    <xs:annotation>
                        <xs:documentation>A row of values in the dataset.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="Restriction" type="ct:RestrictionType">
                <xs:annotation>
                    <xs:documentation>A restriction or conditional query on the rows of the dataset that refines the rows available in the dataset based on the condition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RestrictionType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="maths:Condition">
                <xs:annotation>
                    <xs:documentation>The condition upong which to bae the restriction on. Rows are selected when the condition is true.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ColumnsDefinitionType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Column" type="ct:ColumnType">
                <xs:annotation>
                    <xs:documentation>Defines a column i the dataset.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ColumnType">
        <xs:attribute name="columnNum" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>The column number in the reosurce to use for this column.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="columnVar" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The name to give the column.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ExternalSourceType">
        <xs:attribute name="url" use="required" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>URl of external resourcse. Must be resolvable.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="format" use="required">
            <xs:annotation>
                <xs:documentation>The resource format.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="ct:SymbolNameType">
                    <xs:enumeration value="csv"/>
                    <xs:enumeration value="tab"/>
                    <xs:enumeration value="nonmem"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ignoreLineSymbol" type="ct:SymbolNameType">
            <xs:annotation>
                <xs:documentation>The symbol for ignore row in the resource.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="true" name="headerLine" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Specifies whether the first line of the resource is a header that should be ignored.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="DatasetRowType">
        <xs:choice maxOccurs="unbounded">
            <xs:element maxOccurs="1" name="Cell" type="maths:ScalarType">
                <xs:annotation>
                    <xs:documentation>The value of a cell within the row.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Null" type="ct:NullCellType">
                <xs:annotation>
                    <xs:documentation>No value defined - NULL.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NullCellType"/>
    <xs:complexType block="" mixed="true" name="AnnotationType"/>
    <xs:complexType name="VariableAssignmentType">
        <xs:complexContent>
            <xs:extension base="ct:Rhs">
                <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The symbol type of the variable to be assigned to.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="block" type="ct:BlockNameType">
                    <xs:annotation>
                        <xs:documentation>The block id of the symbol to be assigned to.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VariableDefinitionType">
        <xs:complexContent>
            <xs:extension base="ct:Rhs">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Description" type="ct:AnnotationType">
                        <xs:annotation>
                            <xs:documentation>Description of the variable.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The symbol id used to define the variable.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="symbolType" type="ct:SymbolTypeType" use="required">
                    <xs:annotation>
                        <xs:documentation>The type of the symbol.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="independentVar" type="ct:SymbolNameType">
                    <xs:annotation>
                        <xs:documentation>The independent variable. Implies that the type is 'derivative'.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="SymbolTypeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="scalar"/>
            <xs:enumeration value="derivative"/>
            <xs:enumeration value="distrib"/>
            <xs:enumeration value="dataSet"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
