schemas/modellingSteps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:msteps="http://www.pharmml.org/2013/03/ModellingSteps"
    xmlns:math="http://www.pharmml.org/2013/03/Maths"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes"
    xmlns:ds="http://www.pharmml.org/2013/08/Dataset"
    targetNamespace="http://www.pharmml.org/2013/03/ModellingSteps" version="0.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.pharmml.org/2013/03/CommonTypes"
        schemaLocation="http://www.pharmml.org/2013/03/CommonTypes"/>

    <xs:import namespace="http://www.pharmml.org/2013/03/Maths"
        schemaLocation="http://www.pharmml.org/2013/03/Maths"/>

    <xs:import namespace="http://www.pharmml.org/2013/08/Dataset"
        schemaLocation="http://www.pharmml.org/2013/08/Dataset"/>

    <xs:complexType name="SimulationStepType">
        <xs:complexContent>
            <xs:extension base="msteps:ModellingStepType">
                <xs:sequence>
                    <xs:element name="Observations" minOccurs="1" maxOccurs="unbounded"
                        type="msteps:ObservationsType">
                        <xs:annotation>
                            <xs:documentation>The observation produced by the simulation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="msteps:Operation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObservationsType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="msteps:Timepoints"/>
                    <xs:element name="Continuous" type="msteps:ContinuousObservationType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContinuousObservationType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="ct:SymbRef"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DependentsType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="ct:OidRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StepType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:OidRef"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Dependents"
                        type="msteps:DependentsType">
                        <xs:annotation>
                            <xs:documentation>The step dependent on this one.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StepDependencyType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Step" type="msteps:StepType">
                        <xs:annotation>
                            <xs:documentation>Defines a step in the dependency graph.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EstimationStepType">
        <xs:complexContent>
            <xs:extension base="msteps:ModellingStepType">
                <xs:sequence>
                    <xs:element name="ObjectiveDataSet" type="msteps:DatasetMappingType"
                        maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Defines the objective data to use in the estimation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="ParametersToEstimate"
                        type="msteps:ToEstimateType">
                        <xs:annotation>
                            <xs:documentation>Specified the parameters of the model to be estimated.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="msteps:Operation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="PropertyNameType">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:complexType name="OperationPropertyType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:Assign"/>
                </xs:sequence>
                <xs:attribute name="name" type="msteps:PropertyNameType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Property" type="msteps:OperationPropertyType"/>
    <xs:complexType name="AlgorithmType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="msteps:Property"/>
                </xs:sequence>
                <xs:attribute name="definition" use="required" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation>The estimation operation type.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="EstimationOpTypeType">
        <xs:restriction base="ct:SymbolIdType">
            <xs:enumeration value="estPop"/>
            <xs:enumeration value="estIndiv"/>
            <xs:enumeration value="estFIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EstimationOperationType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="msteps:Property"/>
                    <xs:element minOccurs="0" name="Algorithm" type="msteps:AlgorithmType"/>
                </xs:sequence>
                <xs:attribute name="order" type="xs:positiveInteger" use="required"/>
                <xs:attribute name="opType" type="msteps:EstimationOpTypeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ToEstimateType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ParameterEstimation"
                        type="msteps:ParameterEstimateType">
                        <xs:annotation>
                            <xs:documentation>Defines a symbol to be estimated. Note that this cannot be an individual parameter.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndividualMappingType">
        <xs:complexContent>
            <xs:extension base="msteps:MappingType"/>
        </xs:complexContent>
    </xs:complexType>
    <!--xs:element name="EpochMapping" substitutionGroup="msteps:Mapping"
        type="msteps:IndividualMappingType"/-->
    <xs:element name="IndividualMapping" substitutionGroup="msteps:Mapping"
        type="msteps:IndividualMappingType"/>
    <xs:complexType name="VariableMappingType">
        <xs:complexContent>
            <xs:extension base="msteps:MappingType">
                <xs:sequence>
                    <xs:element minOccurs="1" ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>Reference to the symbol to map the column data to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="VariableMapping" substitutionGroup="msteps:Mapping"
        type="msteps:VariableMappingType"/>
    <xs:complexType abstract="true" name="MappingType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ds:ColumnRef"> </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Mapping" type="msteps:MappingType" abstract="true">
        <xs:annotation>
            <xs:documentation>Defines mappings between the dataset and the model.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="DatasetMappingType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ct:VariableAssignment"/>
                    <xs:element maxOccurs="unbounded" ref="msteps:Mapping"/>
                    <xs:element ref="ds:DataSet"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="IterationsType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:Arrays"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TimepointsType">
        <xs:complexContent>
            <xs:extension base="msteps:IterationsType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Timepoints" type="msteps:TimepointsType"/>
    <xs:complexType name="InitialEstimateType">
        <xs:complexContent>
            <xs:extension base="ct:ScalarRhs">
                <xs:attribute name="fixed" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Specifies whether the initial estimate is fixed. If it is then this means that this parameter is not estimated, but assigned. If fixed is true then the upper and lower bounds are ignored.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ParameterEstimateType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:SymbRef"/>
                    <xs:element minOccurs="0" name="InitialEstimate"
                        type="msteps:InitialEstimateType">
                        <xs:annotation>
                            <xs:documentation>The initial estimate to use.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="LowerBound" type="ct:ScalarRhs">
                        <xs:annotation>
                            <xs:documentation>The lower bounds of the estimate.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="UpperBound" type="ct:ScalarRhs">
                        <xs:annotation>
                            <xs:documentation>The upper bounds of the estimate.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ModellingStepType" abstract="true">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ct:VariableAssignment"/>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element abstract="true" name="CommonModellingStep" type="msteps:ModellingStepType"/>
    <xs:element name="Operation" type="msteps:EstimationOperationType">
        <xs:annotation>
            <xs:documentation>The estimation operation to be carried out.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EstimationStep" substitutionGroup="msteps:CommonModellingStep"
        type="msteps:EstimationStepType"/>
    <xs:element name="SimulationStep" substitutionGroup="msteps:CommonModellingStep"
        type="msteps:SimulationStepType"/>
    <xs:complexType name="ModellingStepsType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="msteps:CommonModellingStep"/>
                    <xs:element name="StepDependencies" type="msteps:StepDependencyType">
                        <xs:annotation>
                            <xs:documentation>Defines dependencies between steps.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ModellingSteps" type="msteps:ModellingStepsType">
        <xs:annotation>
            <xs:documentation>The modelling steps of the model.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
