schemas/modelDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mdef="http://www.pharmml.org/2013/03/ModelDefinition"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes"
    xmlns:math="http://www.pharmml.org/2013/03/Maths"
    xmlns:distrib="http://www.pharmml.org/2013/03/Uncertainty"
    targetNamespace="http://www.pharmml.org/2013/03/ModelDefinition" version="0.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.pharmml.org/2013/03/CommonTypes"
        schemaLocation="http://www.pharmml.org/2013/03/CommonTypes"/>

    <xs:import namespace="http://www.pharmml.org/2013/03/Maths"
        schemaLocation="http://www.pharmml.org/2013/03/Maths"/>

    <xs:import namespace="http://www.pharmml.org/2013/03/Uncertainty"
        schemaLocation="http://www.pharmml.org/2013/03/Uncertainty"/>

    <xs:complexType name="VariabilityLevelDefnType">
        <xs:annotation>
            <xs:documentation>Defines the variability level.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the variability level.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readable name of the variability level.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ParameterModelType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Parameter"
                type="mdef:ParameterType">
                <xs:annotation>
                    <xs:documentation>Defines a parameter in the parameter model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Correlation"
                type="mdef:CorrelationType">
                <xs:annotation>
                    <xs:documentation>Defines the correlation between the random effects.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the parameter block.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CorrelationType">
        <xs:sequence>
            <xs:element name="Param1Var" type="math:VarType">
                <xs:annotation>
                    <xs:documentation>The first correlated parameter.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Param2Var" type="math:VarType">
                <xs:annotation>
                    <xs:documentation>The second correlated parameter.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="CorrelationCoefficient" type="ct:ScalarRhs">
                    <xs:annotation>
                        <xs:documentation>The correlation co-efficient variable.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Covariance" type="ct:ScalarRhs">
                    <xs:annotation>
                        <xs:documentation>The covariance for both parameters.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="levelId" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The variability level of this correlation.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ObservationModelType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter"
                type="mdef:ParameterType">
                <xs:annotation>
                    <xs:documentation>Parameters specific to the observations model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Continuous" maxOccurs="unbounded" minOccurs="0"
                type="mdef:ContinuousObsModelType">
                <xs:annotation>
                    <xs:documentation>Specifies a continuous object model.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the observation model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ContinuousObsModelType">
        <xs:sequence>
            <xs:element ref="math:Var">
                <xs:annotation>
                    <xs:documentation>The output variable to apply the residue error model to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ErrorModel" type="math:FunctionCallType">
                <xs:annotation>
                    <xs:documentation>The residual error model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RandomEffect" type="mdef:RandomEffectType">
                <xs:annotation>
                    <xs:documentation>The random effect to use with the residue error model.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The name of the variable that will contain the result of the applied residual error model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ModelDefinitionType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="VariabilityLevel"
                type="mdef:VariabilityLevelDefnType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A variability level.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CovariateModel" maxOccurs="unbounded"
                type="mdef:CovariateModelType">
                <xs:annotation>
                    <xs:documentation>A covariate model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ParameterModel"
                type="mdef:ParameterModelType">
                <xs:annotation>
                    <xs:documentation>A parameter model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" ref="mdef:StructuralModel">
                <xs:annotation>
                    <xs:documentation>A structural model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ObservationModel" maxOccurs="unbounded"
                type="mdef:ObservationModelType">
                <xs:annotation>
                    <xs:documentation>An observations model.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParameterType">
        <xs:annotation>
            <xs:documentation>Describes a parameter.</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0">
            <xs:choice minOccurs="1">
                <xs:element ref="math:Var">
                    <xs:annotation>
                        <xs:documentation>A variable definition.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="math:Scalar">
                    <xs:annotation>
                        <xs:documentation>A scalar value.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:sequence>
                <xs:element minOccurs="1" ref="math:Equation">
                    <xs:annotation>
                        <xs:documentation>An equation describing the first part of an individual parameter.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RandomEffect" minOccurs="0" maxOccurs="unbounded"
                    type="mdef:ParameterRandomEffectType">
                    <xs:annotation>
                        <xs:documentation>The random effects.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Covariate"
                    type="mdef:CovariateRelationType">
                    <xs:annotation>
                        <xs:documentation>The definition of the relationship between the parameter and covariate.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The symbol id for this parameter.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The user-friendly name of the parameter.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="transformation" use="optional">
            <xs:annotation>
                <xs:documentation>The transformation of the lhs of the parameter definition.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="ct:SymbolNameType">
                    <xs:enumeration value="log"/>
                    <xs:enumeration value="logit"/>
                    <xs:enumeration value="none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CovariateRelationType">
        <xs:sequence>
            <xs:element ref="math:Var">
                <xs:annotation>
                    <xs:documentation>The covariate to be related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="FixedEffect" type="mdef:FixedEffectRelationType">
                <xs:annotation>
                    <xs:documentation>The fixed effect relating the parameter and covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FixedEffectRelationType">
        <xs:sequence>
            <xs:element ref="math:Var">
                <xs:annotation>
                    <xs:documentation>A reference to the variable defining the fixed effect value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Category" type="mdef:CategoricalRelationType">
                <xs:annotation>
                    <xs:documentation>Specifies the category, if the covariate is categorical, that this fixed effect applies to.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoricalRelationType">
        <xs:attribute name="catId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The id of the category within the specified covariate.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="RandomEffectType">
        <xs:sequence>
            <xs:element ref="distrib:Distribution">
                <xs:annotation>
                    <xs:documentation>The distribution to be sampled from by the random effect.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParameterRandomEffectType">
        <xs:complexContent>
            <xs:extension base="mdef:RandomEffectType">
                <xs:attribute name="symbId" type="math:SymbolNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The identifier of the random effect.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The human readable name of the random effect.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="levelId" type="ct:BlockNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The variability level of this random effect.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CovariateVariabilityType">
        <xs:choice>
            <xs:element name="Continuous" type="mdef:ContinuousCovariateType">
                <xs:annotation>
                    <xs:documentation>Specifies a continuous covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Categorical" type="mdef:CategorialCovariateType">
                <xs:annotation>
                    <xs:documentation>Specifies a categprical covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The covariate id.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human-readable name of the covariate.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="transformation">
            <xs:annotation>
                <xs:documentation>The transformation to applies to the LHS of the covariate definition equation.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="ct:SymbolNameType">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="log"/>
                    <xs:enumeration value="logit"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ContinuousCovariateType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="distrib:Distribution">
                <xs:annotation>
                    <xs:documentation>The distribution that the continuous covariate follows.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Transformation" type="ct:Rhs" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The transformation to be applied when the covariate is ued.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategorialCovariateType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Category" type="mdef:CategoryType">
                <xs:annotation>
                    <xs:documentation>A category of the categorical covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Probability" type="ct:Rhs">
                <xs:annotation>
                    <xs:documentation>The deftion of the probability associated with this category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="catId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the category.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readable name of the category.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="StructuralModelType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Description" type="ct:AnnotationType">
                <xs:annotation>
                    <xs:documentation>An annotation description of the structural model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter"
                type="mdef:ParameterType">
                <xs:annotation>
                    <xs:documentation>A parameter definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Variable">
                <xs:annotation>
                    <xs:documentation>A variable definition.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ct:VariableDefinitionType"> </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Import" type="mdef:ImportType">
                <xs:annotation>
                    <xs:documentation>Specifies the import of another structral model into this one.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InitialCondition"
                type="ct:VariableAssignmentType">
                <xs:annotation>
                    <xs:documentation>The initial condition definition for of a derivative.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the structural model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CovariateModelType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter"
                type="mdef:ParameterType">
                <xs:annotation>
                    <xs:documentation>The definition of parameters in the covariate block. Typically these will define parameters used by the covariate definitions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="Covariate" type="mdef:CovariateVariabilityType">
                <xs:annotation>
                    <xs:documentation>Deefines a covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="math:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The id of the covariate model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readable name of the covariate.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ImportType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Link" type="mdef:ImportLinkType">
                <xs:annotation>
                    <xs:documentation>Specifies an association between a symbol in the model and one in the imported model.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="resource" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>The location of the resource to be imported. This should be a resolvable URL.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:token" use="optional">
            <xs:annotation>
                <xs:documentation>The source of the information to be imported. This can be an xpath and is used to locate structural model with a PharmML document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="resourceType" type="mdef:ImportResourceTypeType" use="required">
            <xs:annotation>
                <xs:documentation>The type of resource to be imported.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="ImportResourceTypeType">
        <xs:restriction base="ct:SymbolNameType">
            <xs:enumeration value="sbml"/>
            <xs:enumeration value="pharmml"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImportLinkType">
        <xs:sequence>
            <xs:element ref="math:Var">
                <xs:annotation>
                    <xs:documentation>A reference to a variable in this docuemnt.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="symbolPtr" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the symbol in the imported model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="StructuralModel" type="mdef:StructuralModelType"/>
    <xs:element name="ModelDefinition" type="mdef:ModelDefinitionType">
        <xs:annotation>
            <xs:documentation>This is the top element defining the defintion of the pharmacometric model. This contains the variability model, covariate model, parameter model, structural model and observations model.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
