schemas/trialDesign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.pharmml.org/2013/03/TrialDesign"
    xmlns:design="http://www.pharmml.org/2013/03/TrialDesign"
    xmlns:maths="http://www.pharmml.org/2013/03/Maths"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes" version="0.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:annotation>
        <xs:documentation/>
    </xs:annotation>
    <xs:import namespace="http://www.pharmml.org/2013/03/CommonTypes"
        schemaLocation="http://www.pharmml.org/2013/03/CommonTypes"/>

    <xs:import namespace="http://www.pharmml.org/2013/03/Maths"
        schemaLocation="http://www.pharmml.org/2013/03/Maths"/>
    <xs:complexType name="DosingVariableType">
        <xs:sequence>
            <xs:choice minOccurs="1">
                <xs:element name="DoseVar" type="maths:VarType">
                    <xs:annotation>
                        <xs:documentation>Defines the dosing variable. This is the variable that explicitly defines the dose - often D in a PK model.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TargetVar" type="maths:VarType">
                    <xs:annotation>
                        <xs:documentation>Defines the variable (or compartment) that the dose will be added to at the specified dosing times. This is typically used when the structural model is a system of ODEs and the taregt variable is a derivative.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Amount" type="ct:Rhs" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The amount of dose to be applied at dosing time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SteadyStateType">
        <xs:sequence>
            <xs:element minOccurs="0" name="EndTime" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The start of dosing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Interval" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The dosing period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DosingTimesType">
        <xs:complexContent>
            <xs:extension base="ct:VectorType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TrialDesignType">
        <xs:sequence maxOccurs="1">
            <xs:element maxOccurs="unbounded" name="Treatment" type="design:TreatmentType">
                <xs:annotation>
                    <xs:documentation>The treatment to be applied to a subject.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TreatmentEpoch"
                type="design:TreatmentEpochType">
                <xs:annotation>
                    <xs:documentation>The Treatment Epoch that defines the time frame for treatments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="Group" type="design:GroupType">
                <xs:annotation>
                    <xs:documentation>The trial group definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="TreatmentEpochRef" type="design:TreatmentRefType">
                    <xs:annotation>
                        <xs:documentation>A reference to the treatment epoch.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Washout" type="design:WashoutType">
                    <xs:annotation>
                        <xs:documentation>Defined a washout period in which all values in the structural model are reset to their values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="Individuals" type="design:IndividualType">
                <xs:annotation>
                    <xs:documentation>The definition of the subjects in this group.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of th group.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readible name of the group.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TreatmentEpochType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="TreatmentRef" type="design:TreatmentRefType">
                <xs:annotation>
                    <xs:documentation>Reference to a treatment to use in this epoch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Start" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The start time of the epoch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="End" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The end time of the epoch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Occasion"
                type="design:OccasionType">
                <xs:annotation>
                    <xs:documentation>An occasion defined in this epoch.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The id of the treatment epoch.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readable name of the treatment epoch.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TreatmentRefType">
        <xs:attribute name="idRef" type="maths:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The reference to the treatment id.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="WashoutType"/>
    <xs:complexType name="DosingRegimenType">
        <xs:choice maxOccurs="unbounded">
            <xs:element maxOccurs="1" minOccurs="1" name="Bolus" type="design:BolusType">
                <xs:annotation>
                    <xs:documentation>Bolus dosing. This is doscing of dicrete amounts of drug at specific periods.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Infusion" type="design:InfusionType">
                <xs:annotation>
                    <xs:documentation>Infusion dosing. A dose is administered over a period of time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BolusType">
        <xs:sequence>
            <xs:element name="DoseAmount" type="design:DosingVariableType">
                <xs:annotation>
                    <xs:documentation>Dosing information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="SteadyState" type="design:SteadyStateType">
                    <xs:annotation>
                        <xs:documentation>Steady state bolus dosing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DosingTimes" type="design:DosingTimesType">
                    <xs:annotation>
                        <xs:documentation>The dosing times.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InfusionType">
        <xs:sequence>
            <xs:element name="DoseAmount" type="design:DosingVariableType">
                <xs:annotation>
                    <xs:documentation>Dosing information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="SteadyState" type="design:SteadyStateType">
                    <xs:annotation>
                        <xs:documentation>Steady state infusion dosing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DosingTimes" type="design:DosingTimesType">
                    <xs:annotation>
                        <xs:documentation>The dosing times.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Duration" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The duration of the infusion.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TreatmentType">
        <xs:annotation>
            <xs:documentation>Describes a treatment, by which we mean one or more regimens that can be appied to a subject.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="DosingRegimen" type="design:DosingRegimenType">
                <xs:annotation>
                    <xs:documentation>The dosing regimen to apply to a subject.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="maths:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the treatment.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The human readable name of the treatment.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="OccasionType">
        <xs:sequence minOccurs="0">
            <xs:element name="Begin" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The start time of the occasion.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="End" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The end time of the occasion.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
            <xs:annotation>
                <xs:documentation>The symbol id defining this occasion.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>A human readable name for this epoch.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="levelId" type="ct:BlockNameType" use="required">
            <xs:annotation>
                <xs:documentation>The levelId referring to the variability level define in the model definition.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="IndividualType">
        <xs:complexContent>
            <xs:extension base="ct:Rhs">
                <xs:attribute name="symbId" type="ct:SymbolNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The symbol identifier used to identify the individuals in this group.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The human readible name of this set of individuals.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="levelId" type="ct:BlockNameType" use="required">
                    <xs:annotation>
                        <xs:documentation>The variability level that this individual is applied to.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Design" type="design:TrialDesignType"> </xs:element>
</xs:schema>
